@{
    Layout = "~/Views/Shared/_LoggedInLayoutPage.cshtml";
}
<div class="hero-unit">
                    <h3>Welcome, @PageContext.Page.User.Identity.Name!</h3>
                    <p>Get a good management for your projects!</p>
</div>


